/* Main Page Styling */

#main-page {
  background-image: url("images/collage-background.jpg");
  cursor: crosshair;
}

.game-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.new-game-content {
  text-align: center;
  position: fixed;
  background: #293133;
  height: 30vh;
  width: 50vw;
  margin-top: 35vh;
  margin-bottom: 35vh;
  margin-left: 21.75vw;
  /*   margin-right: 22.5vw;  */

  color: #FFFFFF;
  font-family: "Courier New", Courier;
  padding: 2%;
  border-radius: 20%;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.75);
}

h1 {
  font-size: 5vh;
  margin-top: 5vh;
  font-weight: lighter;
  cursor: not-allowed;
}

h2 {
  margin: auto;
  margin-bottom: 2vh;
  font-size: 4vh;
  font-weight: lighter;
  font-style: italic;
  cursor: not-allowed;
}

#easy-button {
  color: #FFFFFF;
  padding-right: 2vw;
  text-decoration: none;
  font-size: 3vh;
  transition: 0.75s ease;
}

#easy-button:hover {
  color: #00A44B;
  font-size: 5vh;
  cursor: crosshair;
}

#hard-button {
  color: #FFFFFF;
  padding-left: 2vw;
  text-decoration: none;
  font-size: 3vh;
  transition: 0.75s ease;
}

#hard-button:hover {
  color: #C30022;
  font-size: 5vh;
  cursor: crosshair;
}

/* Easy Game Styline */

#easy-game {
  background-color: #293133;
}

/* Hard Game Styline */

#hard-game {
  background-color: #293133;
}
